
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	
	@media (min-width: 820px) {
		
	}

	@media (min-width: 1120px) {
		
	}

	&__link {
		outline: 1px solid transparent;
		outline-offset: 3px;
		border-radius: 4px;
		transition: color .3s ease-in-out;

		&:hover {
			color: #780096;
		}

		&:focus-visible {
			outline-color: #780096;
		}
		
		&_img {
			display: block;
			margin-bottom: 12px;
			border-radius: 16px;

			@media (min-width: 580px) {
				margin-bottom: 16px;
			}
		}
	}

	&__img {
		width: 100%;
		object-fit: cover;
		border-radius: 16px;
		aspect-ratio: 7/6;

		@media (min-width: 580px) {
			aspect-ratio: 23/20;
		}

		@media (min-width: 820px) {
			aspect-ratio: 151/125;
		}
	}

	&__info {
		flex-grow: 1;
		
		@media (min-width: 580px) {
			display: flex;
			gap: 5px;
			margin-bottom: 20px;
		}
	}

	&__title {
		margin-bottom: 4px;
		
		@media (min-width: 580px) {
			padding-top: 3px;
			font-size: 16px;
			margin-bottom: 0;
		}
	}

	&__price {
		margin-bottom: 12px;
		font-size: 16px;

		@media (min-width: 580px) {
			font-size: 20px;
			margin-bottom: 0;
		}
	}

	&__btn {
		width: 100%;
		padding: 12px 24px;
		border-radius: 32px;
		border: 1px solid #780096;
		color: #780096;
		transition: background-color .3s ease-in-out, color .3s ease-in-out;

		&:hover {
			outline: none;
			background-color: #780096;
			color: #fff;
		}

		&:focus-visible {
			outline: none;
			border: 1px solid #C0F;
		}

		&:active {
			color: #C0F;
			border: 1px solid #C0F;
			background-color: transparent;
		}
	}

	&__favorite {
		position: absolute;
		top: 12px;
		right: 12px;
		width: 16px;
		height: 16px;
		color: #fff;

		svg {
			stroke: #1C1C1C;

			&:hover, &_active {
				color: #780096;
				stroke: #780096;

			&:active {
				color: #C0F;
				stroke: #1C1C1C;
			}
			}
		}

		&:focus-visible {
			outline: 1px solid #780096;
			outline-offset: 2px;
			border-radius: 50%;
		}
	}
}
